@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0; /* Optional: Removes default margin */
  padding: 0; /* Optional: Removes default padding */
}

/* h1 {
  background-color: #faebd7;
} */
